@{
    ViewBag.Title = "Početna";
}

@*<div class="jumbotron">
    <h1>Dobrodošli!</h1>
</div>*@
@*<div class="row">
    <div class="col-md-4">
        <h2>Molimo navigirajte se preko menija </h2>

    </div>
</div>*@
<img src="~/images/logo.png" alt="HTML5 Icon" id="slika1">
